<!--<div class="row hideable-bar" >

  In "Setup" mode

  [Setup] Animate  ()()                   Play                         Save

  In "Animate" mode

   Setup [Animate]                        Play                         Save

-->
<div id="dragging-area">
	<div class="row" id="tactics-toolbar">
		<div class="col-md-4 col-xs-4">
			<div class="btn-group" role="group">
				<img src="assets/img/yellow-circle.png" id="yellow-circle"  	 	
				   	 class="toolbar-gadget" player-color="yellow" clone-draggable />
				<img src="assets/img/red-circle.png" id="red-circle" 
					 class="toolbar-gadget" player-color="red" clone-draggable />
			</div>
		</div>
		<div class="col-md-4 col-xs-4">
			<div class="">
				Text
			</div>
		</div>
		<div class="col-md-4 col-xs-4">
			<button type="submit" class="btn btn-primary pull-right" ng-click="play()">
				<span class="glyphicon glyphicon-play-circle"></span> Play
			</button>
		</div>
	</div>

	<draggable id="adminFloatingMenu">
	 	<floating-panel title="Animation">
	 		<pane-content><animation-tree></animation-tree></pane-content>
	 		<pane-footer>
	 			<button type="submit" 
				        class="btn btn-xs btn-success pull-right" 
				        ng-click="addAnimationPhase()">
				    <span class="glyphicon glyphicon-plus-sign"></span>
				</button>  
				<br>
			</pane-footer>
	 	</floating-panel>
	</draggable>

	<div class="row">
		<div class="col-md-12" soccer-field id="playingField"></div>
	</div>

</div>



