<!--<div class="row hideable-bar" >

  In "Setup" mode

  [Setup] Animate  ()()                   Play                         Save

  In "Animate" mode

   Setup [Animate]                        Play                         Save

-->
<div class="row btn-toolbar" role="toolbar">

	<div class="col-md-5">
		<div class="btn-group" role="group" ng-model="button.radio" bs-radio-group>
 		  <label class="btn btn-default">
 		  	 <input type="radio" class="btn btn-default" value="0">Setup
 		  </label>
 		  <label class="btn btn-default">
 		   	 <input type="radio" class="btn btn-default" value="1">Animate
 		  </label>
		</div>
		<div class="btn-group" role="group" ng-hide="isAnimateMode()">
			<img src="assets/img/yellow-circle.png" id="yellow-circle"  	 	
			   	 class="toolbar-gadget" player-color="yellow" clone-draggable />
			<img src="assets/img/red-circle.png" id="red-circle" 
				 class="toolbar-gadget" player-color="red" clone-draggable />
		</div>
	</div>

	 <div class="col-md-2">
		<button type="submit" class="btn btn-primary" ng-click="play()">
			<span class="glyphicon glyphicon-play-circle" aria-hidden="true"></span> Play
		</button>
	</div>

	<div class="col-md-5">
		<button type="submit" class="btn btn-success" ng-click="save()">
			<span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> Save
		</button>
	</div>		 	
</div>

<div soccer-field id="playingField"></div>







