<div id="animationPaneContent">
  <div class="panel-group" id="accordion" close-others="false" role="tablist" aria-multiselectable="true">
    
    <div class="panel panel-default" ng-repeat="phase in selectedPlan.animation">
      <div class="panel-heading" role="tab" id="headingOne">
        <h4 class="panel-title">
          <span role="button" data-toggle="collapse" data-target="#collapse{{$index}}" aria-expanded="true" aria-controls="collapseOne">
            Phase {{$index}}
          </span>
          <button type="submit" 
                  class="btn btn-xs btn-danger pull-right" 
                  ng-click="deleteAnimationPhase($index)">
              <span class="glyphicon glyphicon-remove"></span>
          </button>  
        </h4>

      </div>

      <div id="collapse{{$index}}" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
            <ul class="list-group">
              <li ng-repeat="step in phase.transitions" class="list-group-item">{{step}}
              </li>
            </ul>
      </div>
    </div>
  </div>  
</div>
